
@page
@model EditKnownFacilityModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Facility</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Facility.FacilityId" />
            <div class="form-group">
                <label asp-for="Facility.FacilityName" class="control-label"></label>
                <input asp-for="Facility.FacilityName" class="form-control" />
                <span asp-validation-for="Facility.FacilityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility.FacilityCode" class="control-label"></label>
                <input asp-for="Facility.FacilityCode" class="form-control" />
                <span asp-validation-for="Facility.FacilityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @*This is where the magic happens!!!  Loop through, surface with checkboxes*@
                            @{
                                var check = "";
                                int cnt = 0;
                                foreach(var Layer in Model.CollectionLayers)
                                {
                                    if (cnt % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    check = "";
                                    if (Model.Facility.FacilityCollections!.Any(fc => fc.CollectionLayerId == Layer.CollectionLayerId))
                                    {
                                        check = "checked";
                                    }
                                    <td>
                                        <input type="checkbox" name="SelectedLayers" value="@Layer.CollectionLayerId" @check /> @Layer.CollectionLabel
                                    </td>
                                    cnt++;
                                }
                                @:</tr>
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="FacilityListBrief">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
