
@page
@model FacilitiesModel
@{
    ViewData["Title"] = "Onboarded Facilities";
}
<h1>@ViewData["Title"]</h1>

<p>These facilities have been fully onboarded.</p>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                Facility Name
            </th>
        </tr>
    </thead>
</table>
