
@page
@model FacilityListModel
@{
    ViewData["Title"] = "Onboarded Facilities";
}
<h1>@ViewData["Title"]</h1>

<p>These facilities have been fully onboarded.</p>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facility[0].FacilityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility[0].FacilityCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility[0].FacilityCollections)
            </th>
        </tr>
    </thead>
    
</table>
